.app-news-feeds {
  .news-feeds-wrap {
    display: flex;
    flex-flow: row wrap;
    height: 600px;
    overflow: auto;
    .news-card {
      width: 25%;
      margin: 30px;
      box-sizing: border-box;
    }
  }
}
