<section class="app-news-feeds">
  <div class="news-feeds-wrap">
    <mat-card class="news-card" *ngFor="let feed of newsFeeds$ | async">
      <img mat-card-image class="news-card_image" [src]="feed.urlToImage">
      <mat-card-title class="news-card_title">{{feed.title}}</mat-card-title>
      <mat-card-content>
        <div class="news-card_published-date">{{feed.publishedAt}}</div>
        <p class="news-card_description">{{feed.description}}</p>
      </mat-card-content>
    </mat-card>
  </div>
</section>
