.app-news-feeds {
  .news-feeds-wrap {
    display: flex;
    flex-flow: row wrap;
    height: 90vh;
    overflow: auto;
    .news-card {
      width: 25%;
      margin: 30px;
      box-sizing: border-box;
    }
  }
  .spinner-wrap,
  .news-feeds-no-result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
  }
}
::ng-deep {
  .mat-paginator-container {
    background: #3cc1f4;
  }
  .mat-paginator-range-label {
    font-size: 2em;
    color: black;
  }
}
